@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Newsreader:opsz,wght@6..72,500&family=Poppins&family=Satisfy&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.category_head{
    font-family: 'Blaka Ink', cursive;
}
.news_head{
    font-family: 'Newsreader', serif;
}



.nav_head{
    font-family: 'Satisfy', cursive;
}
.card{
    border-radius: 10px;
}